body {
  background-color: #aeb8fe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  background-color: #efe5dc;
  margin: 100px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 15px;
}

.dice div {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.dot {
  border-radius: 50%;
  background-color: black;
  margin: 5px;
}
